.pr-accordeon-container {
	border: 3px solid #478245;
	border-radius: 4px;
	background-color: #fff;
	margin: 16px 0;
	transition: all 1s ease;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

	&:hover {
		box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
	}
}

.pr-accordeon-container h3 {
	margin: 0;

	button {
		font-size: inherit;
		font-family: inherit;
		font-weight: inherit;
	}
}

.pr-accordeon-trigger {
	border: 0;
	background-color: #fff;
	width: 100%;
	text-align: start;
	padding: 16px 8px;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pr-accordeon-trigger::after {
	content: "";
	width: 24px;
	aspect-ratio: 1 / 1;
	display: block;
	background-image: url("./images/chevron-down.svg");
	background-position: center center;
	background-repeat: no-repeat;
}

.pr-accordeon-trigger[aria-expanded="true"]::after {
	transform: rotate(180deg);
	transition: transform 1s ease;
}

.pr-accordeon-content {
	padding: 16px 8px;
}
